<template>
<div class="container">
    <form @submit.prevent='submit'>
      <h3 class="title">
          {{model}} id: {{id}}
      </h3>
      <template v-for="(item, index) in scheme">
        <v-field :key="index"  :name="item.name" :type="item.type" v-model="model_inputs[item.name]"></v-field>
      </template>
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
  </form>
</div>
</template>
<script>
import vField from '@/blocks/v-field'
export default {
  name: 'Editor',
  props: ['model', 'id'],
  components: {
    'v-field': vField
  },
  methods: {
    submit () {
      console.log(this.model_inputs)
    }
  },
  data () {
    return {
      model_inputs: {
      },
      scheme: [
        {
          type: 'number',
          name: 'Id'
        },
        {
          type: 'string',
          name: 'property'
        }
      ]
    }
  }
}
</script>
<style scoped>

</style>
