<template>
<div class="clients-list container">
  <h2>Its Filter Value</h2>
  <ul>
    <li>order = {{Order}}</li>
    <li>order_by = {{Order_By}}</li>
    <li>page = {{Page}}</li>
    <li>order = {{Per_Page}}</li>
    <li>query = {{Query}}</li>
  </ul>
  <div class="content">
    <v-table @sort='sortBy' :data='filterClients' :fields='fields' />
  </div>
</div>
</template>
<script>
import vTable from '@/blocks/v-table'

export default {
  name: 'MyFirstComponent',
  components: {
    'v-table': vTable
  },
  methods: {
    sortBy: function (name) {
      if (this.Order_By !== name) {
        this.Order = 'ASC'
        this.Order_By = name
      } else {
        this.toggleOrder()
      }
    },
    toggleOrder: function () {
      this.Order = (this.Order === 'ASC') ? 'DESC' : 'ASC'
    }
  },
  props: ['ord', 'ord_by', 'query', 'page', 'per_page'],
  computed: {
    filterClients: function () {
      return this._.orderBy(this.clients, this.Order_By, this.Order.toLowerCase())
    }
  },
  data () {
    return {
      Order: this.ord ? this.ord : 'ASC',
      Order_By: this.ord_by,
      Query: this.query,
      Page: this.page,
      Per_Page: this.per_page,
      fields: [
        {
          name: 'name',
          title: 'Name'
        },
        {
          name: 'city',
          title: 'City'
        }
      ],
      clients: [
        {
          name: 'Jhon Smit',
          city: 'Los Angeles'
        },
        {
          name: 'Elionora Smit',
          city: 'New York'
        }
      ]
    }
  }
}
</script>
<style scoped>
h1 {
  color: darkblue;
}
</style>
