<template>
<td v-click-outside="hideMenu" @click="toggleShow">
  <slot/>
    <template v-if="showMenu">
      <div class="popup-block box">
        <router-link class="popup-item" :to="{name:'edit', query: { id:'1', model:'model'}}">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </router-link>
        <router-link class="popup-item" :to="{name:'edit', query: { id:'1', model:'model'}}">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </router-link>
        <a href="" class="popup-item">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
        </a>
      </div>
    </template>
</td>
</template>
<script>
export default {
  name: 'vCell',
  methods: {
    hideMenu: function () {
      this.showMenu = false
    },
    toggleShow: function () {
      this.showMenu = !this.showMenu
    }
  },
  data () {
    return {
      showMenu: false
    }
  }
}
</script>
<style scoped>
td{
  position: relative;
}
.popup-block{
  position: absolute;
  right: 0px;
}
</style>
