<template>
  <div class="field">
    <label class="label">{{title||name}}</label>
    <div class="control">
      <input class="input" @input="Update($event.target.value)" :value="value" type="text" placeholder="Text input">
    </div>
  </div>
</template>
<script>
export default {
  name: 'vField',
  methods: {
    Update (value) {
      this.$emit('input', value)
      return value
    }
  },
  props: ['name', 'value', 'title', 'type', 'model']
}
</script>
<style scoped>

</style>
