<template>
<div>
    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth" v-if='data'>
      <thead>
        <tr>
          <template v-for="field in fields">
            <th :key="field.name" @click='sortBy(field.name)'>{{field.title}}</th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template v-for="(item, index) in data">
          <tr :key='index'>
            <template v-for="(val, key) in item">
              <v-cell :key="key" >{{val}}</v-cell>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
</div>
</template>
<script>
import vCellMenu from '@/blocks/v-cell'
export default {
  name: 'vTable',
  components: {
    'v-cell': vCellMenu
  },
  methods: {
    sortBy: function (name) {
      this.$emit('sort', name)
    }
  },
  props: ['data', 'fields']
}
</script>
<style>

</style>
