<template>
  <div id="app">
        <header>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="container">
                <span class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <!-- This "nav-menu" is hidden on mobile -->
                <!-- Add the modifier "is-active" to display it on mobile -->
                <div id="navMenu" class="navbar-center navbar-menu">
                    <router-link class="navbar-item"  to="/">index</router-link>
                    <router-link class="navbar-item" :to="{name:'first_tab'}">first tab</router-link>
                </div>
            </div>
        </nav>
    </header>
    <section class="section">
      <router-view/>
    </section>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
